<form class="form-light m-5 p-5">
    <div class="mb-3 num-tittle">
      <label for="num1" class="form-label">Número 1</label>
      <input type="number" class="form-control" id="num1">
    </div>
    <div class="mb-3 num-tittle">
        <label for="num2" class="form-label">Número 2</label>
        <input type="number" class="form-control" id="num2">
      </div>
      <button type="submit" class="btn btn-outline-primary btn-lg button">Somar</button>
    <div class="mb-3">
        <label class="form-label">0.0</label>
    </div>
</form>
