.container{
    width: fit-content;
    background-image: url('https://static.vecteezy.com/ti/vetor-gratis/p1/6331976-parede-de-pedra-de-tijolos-rock-jogo-fundo-em-estilo-de-cartoon-superficie-texturizada-sem-costura-ui-jogo-ativo-estrada-ou-chao-material-ilustracaoial-vetor.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    padding: 20px; 
    border-radius: 10px; 
    color: white; 
}

.font1 {
    color: rgb(0, 0, 0);
    font-weight: bold;
    background-image: url('https://www.shutterstock.com/image-vector/vector-cartoon-wooden-texture-background-600nw-2145003917.jpg'); 
    background-position: center;
    background-size: cover;
    box-shadow: 5px 3px 3px black;
    border-radius: 10px;
}

